language: c

sudo: false

matrix:
  include:
    - os: linux
      compiler: gcc
    - os: linux
      compiler: clang
    - os: osx
      compiler: clang

install:
  - ./bootstrap

script:
  - ./configure
  - make
  - make check || (cat */test-suite.log && false)
  - make distcheck || (cat */test-suite.log && false)
