name: Build with meson

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy: 
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        compiler: [gcc]
        python-version: [3.6]
        include:
        - os: windows-latest
          compiler: [msvc]
          msvc: true

    steps:
    - uses: actions/checkout@v2
    - name: Setup MSVC
      if: matrix.config.os == 'windows-latest' && matrix.config.msvc == true
      uses: ilammy/msvc-dev-cmd@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install meson ninja
    # TODO: fix c2man build
    # - name: build c2man
    #   run: bash .ci/build-c2man.sh
    - name: configure
      run: meson build -Ddocs=false
    - name: ninja build
      run: ninja -C build
    - name: ninja test
      run: ninja -C build test
